root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
ktlint_code_style = android_studio
max_line_length = 120

# Trailing commas - allow but don't force
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled

# Multiline wrapping - less aggressive
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_annotation = disabled

# Ignore naming for Compose
ktlint_standard_function-naming_ignore_when_annotated_with = Composable, Preview, Test, ParameterizedTest
ktlint_function_naming_ignore_when_annotated_with = Composable, Preview, Test, ParameterizedTest

[*.{yml,yaml,json,xml}]
indent_style = space
indent_size = 2

[*.xml]
max_line_length = 120

[*.md]
trim_trailing_whitespace = false
